version: '3'
services:
  web-server:
    build: .
    command: npm start
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - '8080:8080'
    depends_on:
      - mongo
    links:
      - "mongo"
  mongo:
    image: mongo
    volumes:
      - data-volume:/data/db
    ports:
      - '27017:27017'
    restart: always
  mongo-express:
    image: mongo-express
    depends_on:
      - mongo
    ports:
      - '5000:8081'

volumes:
  data-volume: null
